.input_form_label input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.005em;
  height: 36px !important;
  border: 1px solid #2175c2 !important;
  border-radius: 8px !important;
  color: #3d495d !important;

  /* Typeface/60 */
  &::placeholder {
    color: #3d495d !important;
  }
}
