.btn_primary {
  /* Secondary/40 */
  width: 100%;
  height: 36px!important;

  background: #2b87db!important;
font-weight: 700!important;
font-size: 16px!important;
line-height: 24px!important;
/* identical to box height */

text-align: center!important;
letter-spacing: 0.005em!important;
  /* Secondary/40 */

  border: 1px solid #2b87db!important;
  border-radius: 8px!important;
  color: #f0f2f5!important;
  &:hover {
    background: #195892!important;
  }
}
