.site-tree-search-value {
  color: #f50;
}
.collapse_header {
  overflow-y: hidden;
  max-height: calc(100vh - 3rem);
  background: #2e333d !important;
  box-shadow: inset 0px -4px 9px rgba(0, 0, 0, 0.25) !important;
  color: #e1e5eb !important;
  height: 100%;
  border-radius: 0 !important;
  border: none !important;
  .ant-input-search-button {
    height: 29px !important;
  }
  .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background: #9199ac;
    border-radius: 5px;
    color: #e1e5eb;
  }
  .ant-input-group .ant-input,
  .ant-input-group span {
    background: #21242c;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    color: #e1e5eb !important;
  }
  .ant-collapse,
  .ant-collapse > .ant-collapse-item > .ant-collapse-header,
  .ant-collapse > .ant-collapse-item {
    border: none !important;
    background: #2e333d !important;
    box-shadow: inset 0px -4px 9px rgba(0, 0, 0, 0.25) !important;
    color: #e1e5eb !important;
  }
  .ant-collapse-content,
  .ant-collapse-conten span,
  .ant-tree {
    border: none !important;
    background: transparent !important;
  }
  .ant-collapse > .ant-collapse-item {
    border: none !important;
    background: #2e333d !important;
    box-shadow: inset 0px -4px 9px rgba(0, 0, 0, 0.25) !important;
    color: #e1e5eb !important;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    color: #e1e5eb !important;
  }
  .ant-collapse-content-box {
    height: 100%;
  }
}
.ant-space-align-center {
  color: #e1e5eb !important;
}
.ant-btn:hover {
  background: #9199ac !important;
  border-radius: 5px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header,
.ant-collapse > .ant-collapse-item {
  border: none !important;
  background: #2e333d !important;
  box-shadow: inset 0px -4px 9px rgba(0, 0, 0, 0.25) !important;
  color: #e1e5eb !important;
}

.collapse_header .ant-tree .ant-tree-treenode .ant-tree-switcher > span {
  vertical-align: 0.125em;
}
.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button:not(.ant-btn-primary) {
  background: #21252b !important;
}
.ant-tree-list-scrollbar {
  width: 4px !important;
  right: -4px !important;
}
.preview-tree{
  
    .ant-tree-node-content-wrapper:hover {
    background: #9199ac !important;
    border-radius: 5px;
    color: #e1e5eb;
  }
   .ant-tree-treenode {
    color: #e1e5eb !important;
    a {
      color: #c8ccd5;
    }
     .ant-tree-node-content-wrapper {
      display: flex;
      width: 75%;
      
      .ant-tree-title {
        display: block;
        width: 65%;
        overflow: hidden;
        text-overflow: ellipsis;
        a > span:first-child {
          display: block;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
    .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background: #9199ac;
    border-radius: 5px;
    color: #e1e5eb;
  }
  .ant-tree-list-holder{
    overflow-x: hidden;
  }
  
}
