.ant-notification-notice-closable {
  background: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(100px) !important;
  border-radius: 8px !important;
}
.ant-notification-notice-closable div {
  color: #fff !important;
}
