.input_password_form > span:first-child {
    height: 36px;
    border: 1px solid #2175C2;
    border-radius: 8px;
}
.input_password_form input {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height */
letter-spacing: 0.005em;

/* Typeface/60 */
color: #3D495D;
}