.page_505 {
  svg {
    width: 50%;
    display: block;
    height: 40vh;
    margin: 0 auto;
  }
  .title_505 {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    font-size: 44px !important;
    line-height: 66px;
    font-size: 23px;
    color: #f0f2f5;
  }
  .des_505 {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 8px;
    line-height: 34px;
    color: #c8ccd5;
  }
  .btn_505 {
    margin: 48px auto;
    display: block;
    width: 200px;
    padding: 6px !important;
  }
}
