.side_nav {
  display: inline-block !important;
  height: 5vh;
  color: rgba(255, 255, 255, 0.65);
  background: #21242c;
  width: 60px;
  padding: 0 0;
}
.side_nav .ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background: #21242c;
  color: #efefef;
}
.ant-menu.ant-menu-inline-collapsed {
  width: 60px !important;
  padding: 0;
}
.ant-menu.ant-menu-inline-collapsed > .ant-menu-item,
.ant-menu.ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-item,
.ant-menu.ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-submenu
  > .ant-menu-submenu-title,
.ant-menu.ant-menu-inline-collapsed
  > .ant-menu-submenu
  > .ant-menu-submenu-title {
  padding: 0 !important;
}

.drop_down_menu {
  height: 45px;
  div {
    height: 45px;
    .ant-space-item:first-child {
      height: 45px;
    }
    .ant-space-item:nth-child(2) {
      height: 55px;
      color: #EFEFEF;
    }
    .ant-space-item:last-child {
      height: 60px;
    }
  }
}
