.forgot_container {
  .ant-select.ant-select-in-form-item {
    width: 100% !important;
  }
  .ant-select-arrow {
    color: #434f63 !important;
  }
  .ant-input {
      color: #434f63 !important;

  }
  .btn_next {
    margin-left: 0!important;
  }
}