.full_screen {
    height: 100vh;
    width: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .orginal_screen {
    display: inline-flex;
    width: calc(100% - 60px);
    height: calc(100vh - 3rem);
    margin: 0;
    padding: 0;
    top: 3rem;
    position: absolute;
    left: 60px;
  }
  .window_screen {
    height: 100%;
  }
  