// .navigation_registeration {
//   width: 100%;
//   margin: 0;
//   position: absolute!important;
//   bottom: 5%;
// }
.navigation_registeration .steps-action {
  right: 22px;
}
.main_container_form {
  height: calc(100% - 50px);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 5vh 0 20px 0;
  &div {
    height: 100%;
  }
}
