// .navigation_registeration {
//   width: 100%;
//   margin: 0;
//   position: absolute!important;
//   bottom: 5%;
// }
.navigation_registeration .steps-action {
  right: 22px;
}
.main_container_form {
  height: calc(100% - 50px);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 5vh 0 20px 0;
  &div {
    height: 100%;
  }
}

.main_register_container_register {
  height: calc(100% - 50px);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10vh 0 20px 0;
}
.register_container {
  .ant-select.ant-select-in-form-item {
    width: 100% !important;
    background: #c8ccd5 !important;
    border-radius: 8px !important;
  }
  .ant-select-arrow,
  .ant-input-password-icon.anticon {
    color: #434f63 !important;
  }
  .ant-input,
  .ant-select.ant-select-in-form-item {
    color: #434f63 !important;
  }
  .btn_next {
    margin-left: 0 !important;
  }
  .ant-select-selector {
    background: transparent !important;
    width: 100% !important;
    color: #14181f !important;
    span {
      height: 32px;
      margin-top: 2px;
    }
  }
  .ant-dropdown-menu-item
    .ant-dropdown-menu-submenu-expand-icon
    .ant-dropdown-menu-submenu-arrow-icon,
  .ant-dropdown-menu-submenu-title
    .ant-dropdown-menu-submenu-expand-icon
    .ant-dropdown-menu-submenu-arrow-icon,
  .ant-input-password-icon.anticon,
  .ant-input-suffix,
  .ant-select-arrow,
  .ant-modal-close-x,
  .ant-picker-suffix {
    color: #3d495d !important;
  }
  .ant-select-dropdown,
  .ant-select {
    background: #c8ccd5 !important;
    border-radius: 0px 0px 5px 5px;
    /* Primary/10 */

    background: #c8ccd5;
    /* Secondary */

    border: 1px solid #2175c2;
    /* Defult */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
  .drop_down {
    background: #c8ccd5 !important;
    color: #070709 !important;
    border-radius: 0 !important;
  }
}
#question1_list .drop_down:last-child {
  border-radius: 0 !important;
  border-radius: 0px 0px 5px 5px;
}
