.input_form, .border_red {
  height: 36px !important;
  margin-bottom: 12px !important;
}
.border_none .ant-form-item-control-input-content > span:first-child {
  height: 36px !important;
  border: none !important;
  border-radius: 8px !important;
}
.input_form .ant-form-item-control-input-content > span:first-child {
  height: 36px ;
  border: 1px solid #2175c2 ;
  border-radius: 8px ;
}
.border_red .ant-form-item-control-input-content > span:first-child {
  height: 36px !important;
  border: 2px solid #ff0000 !important;
  border-radius: 8px !important;
}
.input_form input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.005em;

  /* Typeface/60 */
  &::placeholder {
    color: #3d495d !important;
  }
}