.set_password_form .ant-form-item-label > label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 0.005em;

  /* Typeface/10 */

  color: #f0f2f5;
}
.set_password_form .ant-form-item-label {
  text-align: left;
}
.select_form .ant-select-selector {
  height: 36px !important;
  border-radius: 8px !important;
  /* Primary/10 */

  background: #c8ccd5 !important;
  /* Secondary */

  border: 1px solid #2175c2 !important;
  /* Defult */

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2) !important;
  .ant-select-selection-placeholder {
    color: #14181f !important;
  }
}

.select_form {
  height: 36px!important;
  margin-bottom: 8px!important;
}
.form_register_2 .navigation_registeration {
    width: 100%;
    margin: 0;
    position: absolute !important;
    bottom: -25%;
}