.set_password_form .ant-form-item-label > label{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */

letter-spacing: 0.005em;

/* Typeface/10 */

color: #F0F2F5;

}
.set_password_form .ant-form-item-label{
    text-align: left;

}