.resetpasswordtxt h2 {
  color: #f0f2f5;
  margin: 50px auto;
  text-align: center;
}
.resetpasswordtxt {
  color: #f0f2f5;
  text-align: center;
  margin: 15px auto;
}
.resetpasswordtxt span {
  color: #f0f2f5;
  margin: 10px auto;
  text-align: center;
}
