.resetpasswordtxt h2 {
    color: #fff;
    margin: 50px auto;
    text-align: center;
}
.resetpasswordtxt  {
    color: #fff;
    text-align: center;
    margin: 30px auto;
}
.resetpasswordtxt span {
    color: #fff;
    margin: 20px auto;
    text-align: center;
}