@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@import 'antd/dist/antd.css';

body {
    font-family: 'Poppins', sans-serif;
}


.main_view {
    display: inline-flex;
    width: calc(100% - 60px);
    height: calc(100vh - 3rem);
    margin: 0;
    padding: 0;
    top: 3rem;
    position: absolute;
    left: 60px;
}