@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@import 'antd/dist/antd.css';

body {
    font-family: 'Poppins', sans-serif;
}


.main_view {
    display: inline-flex;
    width: 96%;
    height: 94vh;
    margin: 0;
    padding: 0;
    top: 6vh;
    position: absolute;
    left: 64px;
}