.steps-action {
  position: absolute;
  bottom: 0;
}
.ant-steps-navigation .ant-steps-item::before {
  display: none !important;
}
.ant-steps-navigation .ant-steps-item-container {
  padding: 15px !important;
}
.ant-steps-navigation .ant-steps-item::after {
  display: none !important;
}

.registerration_left {
  position: absolute!important;
  left: 0;
  width: 52%;
  background-size: 100%!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  z-index: 2;
  height: 50px;
}
.registerration_right {
  position: absolute!important;
  right: 0;
  width: 52%!important;
  background-size: 100%!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  z-index: 1;
  height: 50px;
}
.ant-steps
  .ant-steps-item:not(.ant-steps-item-active)
  > .ant-steps-item-container[role="button"]
  .ant-steps-item-title {
  color: #fff !important;
}
